{% extends 'mri_script/base.html' %}
{% block content %}
<div class="contactpage">
    <h2>MRI Facility</h2>
        <ul>
        <li><h3>Phone: (801) 422-9420</h3></li>
        <li><h3>Email: mri@byu.edu</h3></li>
        </ul>
    <br>
    <a name="report_a_bug"></a>
    <h2>Report a Bug:</h2>
    <br>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfCwDrZCFsfol5xGpFzhaeb31X0a5kwdIzFv8Yb8S0hAdOQjQ/viewform?embedded=true" width="800" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
{% endblock %}